---
import StationCard from "@components/StationCard.astro";
import { formatMinuteCount } from "@lib/formatter";
import { supabase } from "@lib/supabase";
import fullLocale from "./locales";

import { Icon } from "astro-icon/components";
import clsx from "clsx";

const locale = fullLocale[Astro.currentLocale ?? "zh-TW"];

const [stationDataRes, historicalDataRes] = await Promise.all([
  supabase
    .from("current")
    .select("*, station_id(*)")
    .order("station_id"),
  supabase.rpc("get_history_with_limit", { max_rows: 3 }),
]);

const stationData = stationDataRes.data;
const historicalData = historicalDataRes.data;

const historicalDataMap = new Map();
if (historicalData) {
  for (const item of historicalData) {
    const stationId = item.station_id;
    if (!historicalDataMap.has(stationId)) {
      historicalDataMap.set(stationId, []);
    }
    historicalDataMap.get(stationId).push(item);
  }
}

let hasEmpty = false;
let hasFull = false;
let totalUnavailable = 0;
let totalFull = 0;
const stationCount = stationData?.length ?? 0;

if (stationData) {
  for (const station of stationData) {
    if (station.status === "EMPTY") hasEmpty = true;
    if (station.status === "FULL") hasFull = true;
    totalUnavailable += station.unavailable;
    totalFull += station.full;
  }
}

const heroStatus: {
  color: string;
  icon: string;
  text: string;
} = {
  color: "",
  icon: "",
  text: "",
};

if (hasEmpty) {
  heroStatus.color = "text-red-400";
  heroStatus.icon = "fa7-regular:angry";
  heroStatus.text = locale["dynamic:hasEmpty"];
} else if (hasFull) {
  heroStatus.color = "text-yellow-400";
  heroStatus.icon = "fa7-regular:sad-cry";
  heroStatus.text = locale["dynamic:hasFull"];
} else {
  heroStatus.color = "text-emerald-400";
  heroStatus.icon = "fa7-regular:face-smile";
  heroStatus.text = locale["dynamic:normal"];
}
---

<main class="py-16">
  <div class="text-center">
    <div class="mb-8">
      <Icon
        name={heroStatus.icon}
        class={clsx("mx-auto text-8xl md:text-9xl", heroStatus.color)}
        transition:name="emoji"
      />
    </div>

    <div class="mx-auto space-y-6">
      <h1
        class="text-3xl leading-tight font-bold md:text-4xl"
        set:html={heroStatus.text}
        transition:name="hero"
      />
      <p class="text-lg text-gray-400" transition:name="subtitle">
        {locale["hero:subtitle"]}
      </p>

      <div
        class="inline-flex items-center rounded-full bg-gray-800/50 px-4 py-2 text-sm text-gray-300"
      >
        <Icon
          name="material-symbols:pedal-bike-outline-rounded"
          class="mr-2 text-lg"
        />
        {locale["tracking:pre"]}
        <span class="mx-1 font-semibold text-white"
          >{stationCount}</span
        >
        {locale["tracking:post"]}
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="mx-auto grid max-w-4xl gap-6 md:grid-cols-2">
      <div
        class="space-y-2 rounded-lg border-2 border-amber-400 bg-gray-800 px-6 py-4"
        transition:name="block:left"
      >
        <p class="text-2xl font-bold">
          {formatMinuteCount(totalUnavailable, Astro.currentLocale)}
        </p>

        <p class="font-bold text-gray-400">
          {locale["summary:empty"]}
        </p>
      </div>

      <div
        class="space-y-2 rounded-lg border-2 border-indigo-400 bg-gray-800 px-6 py-4"
        transition:name="block:right"
      >
        <p class="text-2xl font-bold">
          {formatMinuteCount(totalFull, Astro.currentLocale)}
        </p>

        <p class="font-bold text-gray-400">
          {locale["summary:full"]}
        </p>
      </div>
    </div>
  </div>
</main>

<hr class="mx-auto max-w-2xl border-gray-600" />

<section class="mx-auto my-8 max-w-4xl">
  <h2
    class="border-gray-400 text-2xl font-bold md:text-center"
    transition:name="section-title"
  >
    {locale["detailed:title"]}
  </h2>

  <div class="mt-10 space-y-4">
    {
      stationData?.map((station) => (
        <StationCard
          station={station}
          history={historicalDataMap.get(station.station_id.id) ?? []}
        />
      ))
    }
  </div>
</section>

<section class="py-16">
  <div class="mx-auto w-fit rounded-lg bg-gray-800 px-8 py-6">
    <p class="pb-2 text-center text-xl font-semibold md:text-2xl">
      {locale["info:title"]}
      <a
        href="https://wolf-yuan.dev"
        class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
        target="_blank"
      >
        Wolf Yuan
      </a>
    </p>
    <p class="pb-6 text-center">
      {locale["info:subtitle"]}
    </p>

    <div
      class="flex flex-col place-items-center justify-center gap-4 text-gray-400 md:flex-row"
    >
      <p>
        <a
          href={Astro.currentLocale === "zh-TW"
            ? "https://wolf-yuan.dev/zh-tw/blog/cha-bike/#%E6%80%8E%E9%BA%BC%E5%8A%A0%E7%AB%99%E9%BB%9E"
            : "https://wolf-yuan.dev/blog/cha-bike/#can-i-add-my-station"}
          class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
          target="_blank"
        >
          {locale["info:add"]}
        </a>
      </p>
      <p>
        <a
          href={Astro.currentLocale === "zh-TW"
            ? "https://wolf-yuan.dev/zh-tw/blog/cha-bike/"
            : "https://wolf-yuan.dev/blog/cha-bike/"}
          class="underline decoration-gray-500 decoration-dotted underline-offset-4 transition-colors duration-100 hover:decoration-white"
          target="_blank"
        >
          {locale["info:blog"]}
        </a>
      </p>
    </div>
  </div>
</section>
