---
import clsx from "clsx";
const { className, link, target, glow, paddingOverride } =
  Astro.props;
---

<div
  class={clsx(
    "w-fit bg-gray-800 border-2  border-solid   duration-300 rounded",
    glow && "hover:shadow-[0_0_15px_4px]",
    className,
  )}
>
  <a
    href={link}
    target={target ?? "_self"}
    class="inline h-max w-max"
  >
    <div class={paddingOverride}><slot /></div>
  </a>
</div>
