---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import fullLocale from "./commonLocales";

import notAIChinese from "@assets/not_developed_ai_chinese.svg";
import notAIEnglish from "@assets/not_developed_ai_english.svg";

const locale = fullLocale.footer[Astro.currentLocale ?? "zh-TW"];
const notAISvg =
  Astro.currentLocale === "zh-TW" ? notAIChinese : notAIEnglish;
---

<footer
  class="mt-8 bg-gray-950"
  transition:name="footer"
  transition:animate="none"
>
  <div class="mx-auto max-w-6xl px-6 py-6 lg:px-4">
    <div class="grid grid-flow-row grid-cols-1 gap-4 md:grid-cols-2">
      <div class="flex flex-col justify-between gap-6">
        <p class="pt-2 text-xl font-bold md:pt-0 md:text-2xl">
          <a
            href="https://w.wolf-yuan.dev/project/youbike"
            target="_blank"
            class="transition-colors duration-200 hover:text-gray-400"
          >
            <Icon name="simple-icons:gitlab" class="inline" />
            wolf-yuan/youbike
          </a>
        </p>
        <p class="text-lg font-bold text-gray-400">
          {locale["made:pre"]}
          <a href="https://vercel.com/" target="_blank">
            <Icon
              name="simple-icons:vercel"
              class="inline text-white"
            /><span class="sr-only">Vercel</span></a
          >
          <a href="https://supabase.com/" target="_blank">
            <Icon
              name="simple-icons:supabase"
              class="inline text-[#3FCF8E]"
            /><span class="sr-only">Supabase</span></a
          >
          <a href="https://workers.cloudflare.com/" target="_blank">
            <Icon
              name="simple-icons:cloudflareworkers"
              class="inline text-[#F38020]"
            /><span class="sr-only">Cloudflare Workers</span></a
          >
          <a href="https://astro.build" target="_blank">
            <Icon
              name="simple-icons:astro"
              class="inline text-[#BC52EE]"
            /><span class="sr-only">Astro</span></a
          >
          <a href="https://tailwindcss.com" target="_blank">
            <Icon
              name="simple-icons:tailwindcss"
              class="inline text-[#06B6D4]"
            /><span class="sr-only">TailwindCSS</span></a
          >
          {locale["made:connect"]}
          <Icon
            name="material-symbols:favorite-rounded"
            class="inline text-red-500"
          />
          {locale["made:post"]}
        </p>
      </div>
      <div
        class="flex h-fit flex-col justify-between gap-6 text-xl text-gray-400 md:mx-6 md:text-2xl md:text-gray-50"
      >
        <div class="flex items-center gap-5 md:justify-end">
          <div class="w-fit">
            <a
              href="https://w.wolf-yuan.dev/facebook"
              class="w-fit"
              target="_blank"
            >
              <Icon
                name="simple-icons:facebook"
                class="inline duration-300 hover:text-[#0866FF]"
              />
              <p class="sr-only">Facebook</p>
            </a>
          </div>
          <div class="w-fit">
            <a
              href="https://w.wolf-yuan.dev/instagram"
              class="w-fit"
              target="_blank"
            >
              <Icon
                name="simple-icons:instagram"
                class="inline duration-300 hover:text-[#E4405F]"
              />
              <p class="sr-only">Instagram</p>
            </a>
          </div>
          <div class="w-fit">
            <a
              href="https://w.wolf-yuan.dev/discord"
              class="w-fit"
              target="_blank"
            >
              <Icon
                name="simple-icons:discord"
                class="inline duration-300 hover:text-[#5865F2]"
              />
              <p class="sr-only">Discord</p>
            </a>
          </div>
        </div>

        <Image
          src={notAISvg}
          alt="Not developed by AI"
          loading="eager"
          class="h-full md:ml-auto md:w-auto"
        />
      </div>
    </div>
  </div>
</footer>
