---
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import fullLocale from "./commonLocales";

const locale = fullLocale.nav[Astro.currentLocale ?? "zh-TW"];
---

<nav
  class="js:nav-container sticky top-0 z-10 flex justify-center bg-linear-to-b from-gray-950/85 via-transparent to-transparent bg-bottom transition-all duration-300"
  style={{ backgroundSize: "100% 200%" }}
>
  <div
    class="js:nav-padding z-30 w-full max-w-7xl px-5 py-6 duration-300"
  >
    <div class="flex justify-between">
      <div>
        <a
          href={getRelativeLocaleUrl(
            Astro.currentLocale ?? "zh-TW",
            "/",
          )}
          class="w-fit"
        >
          <div class="inline-flex flex-row items-center gap-4">
            <Icon
              name="material-symbols:pedal-bike-outline-rounded"
              class="text-3xl"
            />
            <div
              class="js:nav-title text-lg font-bold transition-opacity duration-300"
            >
              {locale["title"]}
            </div>
          </div></a
        >
      </div>
      <div>
        <a
          href={getRelativeLocaleUrl(
            Astro.currentLocale === "en" ? "zh-TW" : "en",
            Astro.url.pathname.replace("/en", ""),
          )}
          class="text-gray-300 duration-300 hover:text-gray-50"
        >
          <div class="flex items-center justify-between md:gap-2">
            <Icon
              name="material-symbols:translate"
              class="text-lg md:text-base"
            />
            <p class="sr-only md:not-sr-only">{locale["language"]}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div
    class="blur-container absolute top-0 left-0 z-20 h-full w-full"
  >
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
    <div class="blur-filter"></div>
  </div>

  <style>
    .blur-filter {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .blur-container {
      .blur-filter:nth-child(1) {
        backdrop-filter: blur(3.8px);
        mask: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 28.5%,
          rgba(0, 0, 0, 0.7) 42.3%,
          rgba(0, 0, 0, 0) 52.1%
        );
      }

      .blur-filter:nth-child(2) {
        backdrop-filter: blur(2.5px);
        mask: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 18.7%,
          rgba(0, 0, 0, 0.6) 32.4%,
          rgba(0, 0, 0, 1) 41.8%,
          rgba(0, 0, 0, 1) 58.9%,
          rgba(0, 0, 0, 0.5) 68.2%,
          rgba(0, 0, 0, 0) 76.3%
        );
      }

      .blur-filter:nth-child(3) {
        backdrop-filter: blur(1.2px);
        mask: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 33.7%,
          rgba(0, 0, 0, 0.4) 47.9%,
          rgba(0, 0, 0, 1) 56.2%,
          rgba(0, 0, 0, 1) 73.8%,
          rgba(0, 0, 0, 0.6) 82.5%,
          rgba(0, 0, 0, 0) 89.4%
        );
      }

      .blur-filter:nth-child(4) {
        backdrop-filter: blur(0.8px);
        mask: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 48.3%,
          rgba(0, 0, 0, 0.3) 62.7%,
          rgba(0, 0, 0, 1) 71.5%,
          rgba(0, 0, 0, 1) 86.9%,
          rgba(0, 0, 0, 0.7) 93.2%,
          rgba(0, 0, 0, 0) 98.1%
        );
      }

      .blur-filter:nth-child(5) {
        backdrop-filter: blur(0.4px);
        mask: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 73.6%,
          rgba(0, 0, 0, 0.4) 84.2%,
          rgba(0, 0, 0, 0.8) 91.7%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }
  </style>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    let navContainer = document.getElementsByClassName(
      "js:nav-container",
    )[0];
    let navPaddingArea =
      document.getElementsByClassName("js:nav-padding")[0];
    let navTitleElement =
      document.getElementsByClassName("js:nav-title")[0];
    let currentState = false;

    function compareScrollDistance() {
      if (window.scrollY > 52) {
        if (currentState) return;
        currentState = true;
        changeState(true);
      } else if (window.scrollY < 38) {
        currentState = false;
        changeState(false);
      }
    }

    function changeState(state: boolean) {
      if (state) {
        navContainer.classList.add("bg-top");
        navContainer.classList.remove("bg-bottom");

        navPaddingArea.classList.add("py-4");
        navPaddingArea.classList.remove("py-6");
      } else {
        navContainer.classList.add("bg-bottom");
        navContainer.classList.remove("bg-top");

        navPaddingArea.classList.add("py-6");
        navPaddingArea.classList.remove("py-4");
      }
    }

    function removeListener() {
      window.removeEventListener("scroll", compareScrollDistance);
      document.removeEventListener(
        "astro:before-swap",
        removeListener,
      );
    }

    window.addEventListener("scroll", compareScrollDistance);
    compareScrollDistance();

    document.addEventListener("astro:before-swap", removeListener);
  });
</script>
