---
import { type Tables, type Enums } from "@lib/database.types";
import { type ClassNameValue, twMerge } from "tailwind-merge";

export interface Props {
  station: Tables<"current"> & { station_id: Tables<"stations"> };
}

const stationColor: Record<Enums<"station_state">, ClassNameValue> = {
  NORMAL: "border-green-400",
  EMPTY: "border-red-400",
  FULL: "border-yellow-400",
};
const stationBackground: Record<
  Enums<"station_state">,
  ClassNameValue
> = {
  NORMAL: "bg-green-400",
  EMPTY: "bg-red-400",
  FULL: "bg-yellow-400",
};
const stationText: Record<Enums<"station_state">, ClassNameValue> = {
  NORMAL: "可借可還",
  EMPTY: "可借數量 <5",
  FULL: "可還空位 <3",
};

const station = Astro.props.station;
---

<div
  class={twMerge(
    "cursor-pointer rounded-lg border-2 bg-gray-800 px-6 py-4",
    stationColor[station.status],
  )}
  x-data="{ open: false }"
  x-on:click="open = !open"
>
  <div class="flex flex-col items-center gap-4 md:flex-row">
    <div class="flex w-full place-items-center gap-4">
      <p class="text-lg font-semibold">
        {station.station_id.name}
      </p>
      <p
        class={twMerge(
          "text-gray-900 rounded-full text-xs px-2 py-1",
          stationBackground[station.status],
        )}
      >
        {stationText[station.status]}
      </p>
    </div>

    <div
      class="flex w-full grow place-items-center gap-4 md:justify-end"
    >
      <p class="text-xs text-gray-400">
        可借 {station.bikes} 臺，可還 {station.slots} 位
      </p>
      <div
        class="h-1.5 grow rounded-full bg-gray-600 md:w-[50%] md:grow-0"
      >
        <div
          class={twMerge(
            "h-1.5 rounded-full",
            stationBackground[station.status],
          )}
          style={{
            width: `${(station.bikes / (station.bikes + station.slots)) * 100}%`,
          }}
        >
        </div>
      </div>
    </div>
  </div>

  <div x-show="open" x-collapse>Dropdown Contents...</div>
</div>
