---
import { ClassNameValue, twMerge } from "tailwind-merge";
export const prerender = false;

import Base from "@layouts/main.astro";
import StationCard from "@/components/StationCard.astro";
import Button from "@components/Button.astro";

import { supabase } from "@lib/supabase";
import { formatMinuteCount } from "@lib/formatter";

import { Icon } from "astro-icon/components";

const stationData = (
  await supabase.from("current").select("*, station_id(*)")
).data;
const historicalData = (
  await supabase.rpc("get_history_with_limit", {
    max_rows: 3,
  })
).data;

const heroStatus: {
  color: ClassNameValue;
  icon: string;
  text: string;
} = {
  color: "",
  icon: "",
  text: "",
};

if (stationData?.some((k) => k.status === "EMPTY")) {
  heroStatus.color = "text-red-400";
  heroStatus.icon = "fa7-regular:angry";
  heroStatus.text =
    '所以我說，我的 <span class="text-red-400">YouBike</span> 呢？';
} else if (stationData?.some((k) => k.status === "FULL")) {
  heroStatus.color = "text-yellow-400";
  heroStatus.icon = "fa7-regular:sad-cry";
  heroStatus.text =
    '所以我該把我的 <span class="text-amber-400">YouBike</span> 停在哪裡？';
} else {
  heroStatus.color = "text-emerald-400";
  heroStatus.icon = "fa7-regular:face-smile";
  heroStatus.text =
    '我有 <span class="text-emerald-400">YouBike</span> 可以借了！';
}
---

<Base>
  <main class="py-16">
    <div class="text-center">
      <div class="mb-8">
        <Icon
          name={heroStatus.icon}
          class={twMerge(
            "mx-auto text-8xl md:text-9xl",
            heroStatus.color,
          )}
        />
      </div>

      <div class="mx-auto space-y-6">
        <h1
          class="text-3xl leading-tight font-bold md:text-4xl"
          set:html={heroStatus.text}
        />
        <p class="text-lg text-gray-400">
          管什麼見車率，我要真實數據
        </p>

        <div
          class="inline-flex items-center rounded-full bg-gray-800/50 px-4 py-2 text-sm text-gray-300"
        >
          <Icon
            name="material-symbols:pedal-bike-outline-rounded"
            class="mr-2 text-lg"
          />
          目前正在追蹤 <span class="mx-1 font-semibold text-white"
            >{stationData?.length ?? "!"}</span
          > 個站點
        </div>
      </div>
    </div>

    <div class="mt-8">
      <div class="mx-auto grid max-w-4xl gap-6 md:grid-cols-2">
        <div
          class="space-y-2 rounded-lg border-2 border-amber-400 bg-gray-800 px-6 py-4"
        >
          <p class="text-2xl font-bold">
            {
              formatMinuteCount(
                stationData?.reduce(
                  (prev, curr) => prev + curr.unavailable,
                  0,
                ) ?? 0,
              )
            }
          </p>

          <p class="font-bold text-gray-400">
            {"<5 臺車可借"}
          </p>
        </div>

        <div
          class="space-y-2 rounded-lg border-2 border-indigo-400 bg-gray-800 px-6 py-4"
        >
          <p class="text-2xl font-bold">
            {
              formatMinuteCount(
                stationData?.reduce(
                  (prev, curr) => prev + curr.full,
                  0,
                ) ?? 0,
              )
            }
          </p>

          <p class="font-bold text-gray-400">
            {"<3 位可還"}
          </p>
        </div>
      </div>
    </div>
  </main>

  <hr class="mx-auto max-w-2xl border-gray-600" />

  <section class="mx-auto my-8 max-w-4xl">
    <h2 class="border-gray-400 text-2xl font-bold md:text-center">
      詳細站點資料
    </h2>

    <div class="mt-10 space-y-4">
      {
        stationData?.map((station) => (
          <StationCard
            station={station}
            history={
              historicalData?.filter(
                (k) => k.station_id === station.station_id.id,
              ) ?? []
            }
          />
        ))
      }
    </div>
  </section>

  {
    /*
    <section class="py-8">
      <p
        class="self-center pb-4 text-center text-xl font-semibold md:pb-0 md:text-2xl"
      >
        哦嗨，我是 Wolf Yuan
      </p>

      <Button
        link="https://wolf-yuan.dev/"
        className="mx-auto mt-6 border-violet-400 hover:bg-violet-400 hover:shadow-violet-400"
        glow={true}
      >
        <Icon
          name="material-symbols:arrow-back-rounded"
          class="inline"
        />
        <p class="md:text-md inline text-sm">
          Check out my main website
        </p>
      </Button>
    </section>*/
  }
</Base>
