---
import "@fontsource-variable/jetbrains-mono/wght.css";
import "@styles/global.css";

import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import { SEO } from "astro-seo";
---

<html
  lang={Astro.currentLocale === "en" ? "en" : "zh-Hant"}
  transition:name="root"
  transition:animate="none"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>查 Bike: YouBike 站點歷史紀錄查詢</title>
    <SEO
      description="你遇過一個 YouBike 的站點沒有任何一臺 YouBike 嗎？你可以在這個網站上面看看你那個站是不是每天到某個時候就沒車！"
      charset="UTF-8"
      openGraph={{
        basic: {
          title: "查 Bike: YouBike 站點歷史紀錄查詢",
          type: "website",
          image: "https://youbike.wolf-yuan.dev/favicon-rounded.png",
        },
      }}
      twitter={{
        title: "查 Bike: YouBike 站點歷史紀錄查詢",
        description:
          "你遇過一個 YouBike 的站點沒有任何一臺 YouBike 嗎？你可以在這個網站上面看看你那個站是不是每天到某個時候就沒車！",
        card: "summary",
        site: "@wolfyuan1135",
        image: "https://youbike.wolf-yuan.dev/favicon-rounded.png",
      }}
    />
  </head>
  <body class="bg-gray-900 text-gray-50">
    <div class="flex min-h-screen flex-col">
      <Nav />

      <div
        class="mx-auto mb-auto w-screen max-w-7xl"
        transition:name="content"
        transition:animate="fade"
      >
        <div class="mx-7">
          <slot />
        </div>
      </div>

      <Footer class="place-self-end" />
    </div>

    {/* Hacky way to fix scrollbar theme */}
    <style>
      :root {
        color-scheme: dark;
      }
    </style>
  </body>
</html>
